<div class="container mt-3">
    <div class="d-flex flex-row-reverse">
        <form method="POST" action="/rlogout">
            <button type="submit" class="btn btn-primary btn-sm">Log out</button>
        </form>
    </div>
    <ul class="nav">
        <li class="nav-item">
          <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/rprofile">Profile</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/get-search-pickup-form/<%=receiveraccount%>">Search Pickup Requests</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/get-search-donors-form/<%=receiveraccount%>">Search Donors Near me</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/get-receiver-chat-history-list/<%=receiveraccount%>">Chat History</a>
        </li>
    </ul>
    <hr>
</div>