<!DOCTYPE html>
<html lang="en">
<head>
    <title>It is not a Donor's profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container mt-3">
    <br>
    <br>
    <p>Current Session is with Receiver's login. If you are a Receiver, please select "Receiver's Login" button. If you want to login with Donor's profile, please click on "Logout" and try again. </p>
    <form method="POST" action="/rlogout">
        <button type="submit" class="btn btn-primary btn-sm">Log out</button>
    </form>
</div> 

</body>
</html>