<!DOCTYPE html>
<html lang="en">
<head>
  <title>Privacy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300&family=Yellowtail&display=swap" rel="stylesheet">

</head>
<body>

<%- include("#homeheader.ejs"); %>

<div class="container mt-3">
  <h3>Privacy</h3>
  <p>Your data will be safe with us. Your data will not be shared with any 3rd party.</p>
  <p>Password - Your password will be encrypted before it is saved in our database.</p>
  <p>Phone Number - It is the most important entity in this application. Phone number will be used as login ID. All the user must have a personal phone number to use this web application. Donors can view Receiver's phone numer. Likewise, Receivers can view Donor's phone numer. The phone number will be safely stored in our database and it will not be shared to any 3rd party. </p>
  <p>Address - As receivers need to pickup the dry-wastes, hence donor's address will be shared to the Receivers. The address will be safely stored in our database and it will not be shared to any 3rd party.</p>
</div>

</body>
</html>