<!DOCTYPE html>
<html lang="en">
<head>
  <title>Steps to follow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300&family=Yellowtail&display=swap" rel="stylesheet">

</head>
<body>

<%- include("#homeheader.ejs"); %>

<div class="container mt-3">
  <h3>3 Steps</h3>
  <br>
  <div class="row d-flex justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h4>1. Segregate Dry-waste and Wet-waste(Donor's Responsibility):</h4>
      <h5>The primary and most important part of this process is segregation of home wastes. Donors should collect all the dry-wastes(Plastic, Paper, Thermocol, Metal etc) for few weeks. Any kind of wet-wastes(Kitchen wastes, Diaper etc) shoud not be mixed with these dry wastes.</h5>
    </div>
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="../images/segregate.webp" class="img-fluid">
    </div>
  </div>
  <br>
  <div class="row d-flex justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h4>2. Raise a pickup request(Donor's Responsibility):</h4>
      <h5>Once Donor stores a large amount of dry-wastes, donor should raise a pickup request with correct address and phone number. Donors can also search and contact nearest Receivers.</h5>
    </div>
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="../images/donor.jpeg" class="img-fluid">
    </div>
  </div>
  <br>
  <div class="row d-flex justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h4>3. Collect dry-wastes from Donor's address(Receiver's Responsibility):</h4>
      <h5>Receiver need to search pickup requests in nearest location. If receivers are interested, they can contact to donors and collect the dry-wastes from donor's address.</h5>
    </div>
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="../images/receiver.jpg" class="img-fluid">
    </div>
  </div>
</div>
<br>
<br>

</body>
</html>