<!DOCTYPE html>
<html lang="en">
<head>
  <title>Steps to follow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300&family=Yellowtail&display=swap" rel="stylesheet">

</head>
<body>

<div class="container mt-3">
  <div class="d-flex flex-row-reverse">
    <br>
    <div>
      <a href="donorlogin.ejs"><button type="submit" class="btn btn-primary btn-sm">Donor's Login</button></a>
      <a href="receiverlogin.ejs"><button type="submit" class="btn btn-primary btn-sm">Receiver's Login</button></a>
    </div>
  </div>
</div>

<div class="container mt-3">
  <h1 style="font-family: 'Allura', cursive; font-family: 'Poppins', sans-serif; font-family: 'Yellowtail', cursive;">One month's dry-waste</h1>
  <h6 style="color: green">A smart recycling system to resolve landfill problem</h6>
  <hr>
</div>

<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/recyclableItems">Recyclable items</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/stepstofollow">Steps to follow</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/privacy">Privacy</a>
    </li>
    <li class="nav-item">
      <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/faq">FAQs</a>
    </li>
  </ul>
</div>

<div class="container mt-3">
  <h2>Steps to follow</h2>
  <p>Welcome.</p>
</div>

</body>
</html>